h1,
a,
pre, li {
    font-family: verdana;
    background-color: #123456;
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    background-color: #123456;
    color: white;
    text-align: left;
}

ul {
    list-style-type: none;
    width: 100%;
    margin: 100;
    padding: 0;
    overflow: hidden;
    background-color: #123456;
    display: inline-block;
    text-align: center;
}

li {
    /*float: none;*/
    text-align: center;
    display: inline-block;
    width: 200px;
}

li a, li {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

body {
    background-color: #123456;
}
